texgen/build/.ninja_deps
texgen/build/.ninja_log
texgen/build/build.ninja
texgen/build/cmake_install.cmake
texgen/build/CMakeCache.txt
texgen/build/texgen
texgen/build/vcpkg-manifest-install.log
texgen/build/CMakeFiles/cmake.check_cache
texgen/build/CMakeFiles/CMakeConfigureLog.yaml
texgen/build/CMakeFiles/rules.ninja
texgen/build/CMakeFiles/TargetDirectories.txt
texgen/build/CMakeFiles/3.30.2/CMakeCCompiler.cmake
texgen/build/CMakeFiles/3.30.2/CMakeCXXCompiler.cmake
texgen/build/CMakeFiles/3.30.2/CMakeDetermineCompilerABI_C.bin
texgen/build/CMakeFiles/3.30.2/CMakeDetermineCompilerABI_CXX.bin
texgen/build/CMakeFiles/3.30.2/CMakeSystem.cmake
texgen/build/CMakeFiles/3.30.2/CompilerIdC/a.out
texgen/build/CMakeFiles/3.30.2/CompilerIdC/CMakeCCompilerId.c
texgen/build/CMakeFiles/3.30.2/CompilerIdCXX/a.out
texgen/build/CMakeFiles/3.30.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
texgen/build/CMakeFiles/texgen.dir/document.cpp.o
texgen/build/CMakeFiles/texgen.dir/main.cpp.o
texgen/build/vcpkg_installed/vcpkg/status
texgen/build/vcpkg_installed/vcpkg/vcpkg-lock.json
texgen/build/vcpkg_installed/vcpkg/info/inja_3.4.0_x64-linux.list
texgen/build/vcpkg_installed/vcpkg/info/nlohmann-json_3.11.3_x64-linux.list
texgen/build/vcpkg_installed/vcpkg/info/vcpkg-cmake_2024-04-23_x64-linux.list
texgen/build/vcpkg_installed/vcpkg/info/vcpkg-cmake-config_2024-05-23_x64-linux.list
texgen/build/vcpkg_installed/vcpkg/info/yaml-cpp_0.8.0_x64-linux.list
texgen/build/vcpkg_installed/x64-linux/debug/lib/libyaml-cppd.a
texgen/build/vcpkg_installed/x64-linux/debug/lib/pkgconfig/yaml-cpp.pc
texgen/build/vcpkg_installed/x64-linux/include/inja/config.hpp
texgen/build/vcpkg_installed/x64-linux/include/inja/environment.hpp
texgen/build/vcpkg_installed/x64-linux/include/inja/exceptions.hpp
texgen/build/vcpkg_installed/x64-linux/include/inja/function_storage.hpp
texgen/build/vcpkg_installed/x64-linux/include/inja/inja.hpp
texgen/build/vcpkg_installed/x64-linux/include/inja/lexer.hpp
texgen/build/vcpkg_installed/x64-linux/include/inja/node.hpp
texgen/build/vcpkg_installed/x64-linux/include/inja/parser.hpp
texgen/build/vcpkg_installed/x64-linux/include/inja/renderer.hpp
texgen/build/vcpkg_installed/x64-linux/include/inja/statistics.hpp
texgen/build/vcpkg_installed/x64-linux/include/inja/template.hpp
texgen/build/vcpkg_installed/x64-linux/include/inja/token.hpp
texgen/build/vcpkg_installed/x64-linux/include/inja/utils.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/adl_serializer.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/byte_container_with_subtype.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/json_fwd.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/json.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/ordered_map.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/abi_macros.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/exceptions.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/hash.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/json_custom_base_class.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/json_pointer.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/json_ref.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/macro_scope.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/macro_unscope.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/string_concat.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/string_escape.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/value_t.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/conversions/from_json.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/conversions/to_chars.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/conversions/to_json.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/input/binary_reader.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/input/input_adapters.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/input/json_sax.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/input/lexer.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/input/parser.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/input/position_t.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/iterators/internal_iterator.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/iterators/iter_impl.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/iterators/iteration_proxy.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/iterators/iterator_traits.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/iterators/json_reverse_iterator.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/iterators/primitive_iterator.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/meta/cpp_future.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/meta/detected.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/meta/identity_tag.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/meta/is_sax.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/meta/std_fs.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/meta/type_traits.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/meta/void_t.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/meta/call_std/begin.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/meta/call_std/end.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/output/binary_writer.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/output/output_adapters.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/detail/output/serializer.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/thirdparty/hedley/hedley_undef.hpp
texgen/build/vcpkg_installed/x64-linux/include/nlohmann/thirdparty/hedley/hedley.hpp
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/anchor.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/binary.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/depthguard.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/dll.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/emitfromevents.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/emitter.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/emitterdef.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/emittermanip.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/emitterstyle.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/eventhandler.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/exceptions.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/mark.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/noexcept.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/null.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/ostream_wrapper.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/parser.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/stlemitter.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/traits.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/yaml.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/contrib/anchordict.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/contrib/graphbuilder.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/node/convert.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/node/emit.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/node/impl.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/node/iterator.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/node/node.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/node/parse.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/node/ptr.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/node/type.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/node/detail/impl.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/node/detail/iterator_fwd.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/node/detail/iterator.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/node/detail/memory.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/node/detail/node_data.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/node/detail/node_iterator.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/node/detail/node_ref.h
texgen/build/vcpkg_installed/x64-linux/include/yaml-cpp/node/detail/node.h
texgen/build/vcpkg_installed/x64-linux/lib/libyaml-cpp.a
texgen/build/vcpkg_installed/x64-linux/lib/pkgconfig/yaml-cpp.pc
texgen/build/vcpkg_installed/x64-linux/share/inja/copyright
texgen/build/vcpkg_installed/x64-linux/share/inja/injaConfig.cmake
texgen/build/vcpkg_installed/x64-linux/share/inja/injaConfigVersion.cmake
texgen/build/vcpkg_installed/x64-linux/share/inja/injaTargets.cmake
texgen/build/vcpkg_installed/x64-linux/share/inja/vcpkg_abi_info.txt
texgen/build/vcpkg_installed/x64-linux/share/inja/vcpkg.spdx.json
texgen/build/vcpkg_installed/x64-linux/share/nlohmann-json/copyright
texgen/build/vcpkg_installed/x64-linux/share/nlohmann-json/usage
texgen/build/vcpkg_installed/x64-linux/share/nlohmann-json/vcpkg_abi_info.txt
texgen/build/vcpkg_installed/x64-linux/share/nlohmann-json/vcpkg.spdx.json
texgen/build/vcpkg_installed/x64-linux/share/nlohmann_json/nlohmann_jsonConfig.cmake
texgen/build/vcpkg_installed/x64-linux/share/nlohmann_json/nlohmann_jsonConfigVersion.cmake
texgen/build/vcpkg_installed/x64-linux/share/nlohmann_json/nlohmann_jsonTargets.cmake
texgen/build/vcpkg_installed/x64-linux/share/pkgconfig/nlohmann_json.pc
texgen/build/vcpkg_installed/x64-linux/share/vcpkg-cmake/copyright
texgen/build/vcpkg_installed/x64-linux/share/vcpkg-cmake/vcpkg_abi_info.txt
texgen/build/vcpkg_installed/x64-linux/share/vcpkg-cmake/vcpkg_cmake_build.cmake
texgen/build/vcpkg_installed/x64-linux/share/vcpkg-cmake/vcpkg_cmake_configure.cmake
texgen/build/vcpkg_installed/x64-linux/share/vcpkg-cmake/vcpkg_cmake_install.cmake
texgen/build/vcpkg_installed/x64-linux/share/vcpkg-cmake/vcpkg-port-config.cmake
texgen/build/vcpkg_installed/x64-linux/share/vcpkg-cmake/vcpkg.spdx.json
texgen/build/vcpkg_installed/x64-linux/share/vcpkg-cmake-config/copyright
texgen/build/vcpkg_installed/x64-linux/share/vcpkg-cmake-config/vcpkg_abi_info.txt
texgen/build/vcpkg_installed/x64-linux/share/vcpkg-cmake-config/vcpkg_cmake_config_fixup.cmake
texgen/build/vcpkg_installed/x64-linux/share/vcpkg-cmake-config/vcpkg-port-config.cmake
texgen/build/vcpkg_installed/x64-linux/share/vcpkg-cmake-config/vcpkg.spdx.json
texgen/build/vcpkg_installed/x64-linux/share/yaml-cpp/copyright
texgen/build/vcpkg_installed/x64-linux/share/yaml-cpp/vcpkg_abi_info.txt
texgen/build/vcpkg_installed/x64-linux/share/yaml-cpp/vcpkg.spdx.json
texgen/build/vcpkg_installed/x64-linux/share/yaml-cpp/yaml-cpp-config-version.cmake
texgen/build/vcpkg_installed/x64-linux/share/yaml-cpp/yaml-cpp-config.cmake
texgen/build/vcpkg_installed/x64-linux/share/yaml-cpp/yaml-cpp-targets-debug.cmake
texgen/build/vcpkg_installed/x64-linux/share/yaml-cpp/yaml-cpp-targets-release.cmake
texgen/build/vcpkg_installed/x64-linux/share/yaml-cpp/yaml-cpp-targets.cmake
texgen/build/.cmake/api/v1/query/client-vscode/query.json
texgen/build/.cmake/api/v1/reply/cache-v2-3042bf82b72b3a661d72.json
texgen/build/.cmake/api/v1/reply/cmakeFiles-v1-152ae9ce2ba3de1d7de9.json
texgen/build/.cmake/api/v1/reply/codemodel-v2-0e195465536b5b7d5021.json
texgen/build/.cmake/api/v1/reply/directory-.-f5ebdc15457944623624.json
texgen/build/.cmake/api/v1/reply/index-2024-08-09T17-11-55-0305.json
texgen/build/.cmake/api/v1/reply/target-texgen-2fe74a1fac68cf1734d3.json
texgen/build/.cmake/api/v1/reply/toolchains-v1-b202573adb92d1fd7ac8.json
texgen/build/vcpkg_installed/vcpkg/info/fmt_11.0.2_x64-linux.list
texgen/build/vcpkg_installed/x64-linux/debug/lib/libfmtd.a
texgen/build/vcpkg_installed/x64-linux/debug/lib/pkgconfig/fmt.pc
texgen/build/vcpkg_installed/x64-linux/include/fmt/args.h
texgen/build/vcpkg_installed/x64-linux/include/fmt/base.h
texgen/build/vcpkg_installed/x64-linux/include/fmt/chrono.h
texgen/build/vcpkg_installed/x64-linux/include/fmt/color.h
texgen/build/vcpkg_installed/x64-linux/include/fmt/compile.h
texgen/build/vcpkg_installed/x64-linux/include/fmt/core.h
texgen/build/vcpkg_installed/x64-linux/include/fmt/format-inl.h
texgen/build/vcpkg_installed/x64-linux/include/fmt/format.h
texgen/build/vcpkg_installed/x64-linux/include/fmt/os.h
texgen/build/vcpkg_installed/x64-linux/include/fmt/ostream.h
texgen/build/vcpkg_installed/x64-linux/include/fmt/printf.h
texgen/build/vcpkg_installed/x64-linux/include/fmt/ranges.h
texgen/build/vcpkg_installed/x64-linux/include/fmt/std.h
texgen/build/vcpkg_installed/x64-linux/include/fmt/xchar.h
texgen/build/vcpkg_installed/x64-linux/lib/libfmt.a
texgen/build/vcpkg_installed/x64-linux/lib/pkgconfig/fmt.pc
texgen/build/vcpkg_installed/x64-linux/share/fmt/copyright
texgen/build/vcpkg_installed/x64-linux/share/fmt/fmt-config-version.cmake
texgen/build/vcpkg_installed/x64-linux/share/fmt/fmt-config.cmake
texgen/build/vcpkg_installed/x64-linux/share/fmt/fmt-targets-debug.cmake
texgen/build/vcpkg_installed/x64-linux/share/fmt/fmt-targets-release.cmake
texgen/build/vcpkg_installed/x64-linux/share/fmt/fmt-targets.cmake
texgen/build/vcpkg_installed/x64-linux/share/fmt/usage
texgen/build/vcpkg_installed/x64-linux/share/fmt/vcpkg_abi_info.txt
texgen/build/vcpkg_installed/x64-linux/share/fmt/vcpkg.spdx.json
