body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f8f8f8;
}

.header {
    display: flex;
    flex-flow: row;
    height: 60px;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.header .name {
    margin: 20px 10px;
    font-size: 18px;
    font-weight: 600;
}

.position {
    margin: 20px 10px;
    font-size: 18px;
    font-weight: 600;
}

.content {
    display: flex;
    flex-flow: row;
    height: calc(100vh - 61px);
}

.leftbar {
    display: flex;
    flex-flow: column;
    width: 300px;
    /* background-color: #eee; */
    border-right: 1px solid #ccc;
}

.main-content {
    display: flex;
    flex-flow: row;
    width: calc(100% - 301px);
}

.rail-container {
    display: flex;
    flex-flow: column;
    padding: 0 20px;
    /* justify-content: center; */
    align-items: center;
    min-width: 840px;
    width: calc(100% - 451px);
}

.rightbar {
    display: flex;
    flex-flow: column;
    width: 450px;
    /* background-color: #ccc; */
    border-left: 1px solid #ccc;
}

.middle-rail {
    display: flex;
    flex-flow: column;
    width: 840px;
    overflow: hidden;
}

.middle-rail:hover {
    overflow-y: auto;
}

.bio {
    width: 260px;
    height: 260px;
    padding: 20px;
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 10px;
    background-color: #eee;
    background-image: url("images/profile-pic.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #eee;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2) inset;
}

.biodata {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}

.biodata .name {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.contact::before {
    font-weight: bold;
    color: navy;
    content: "CONTACTS";
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.contact {
    padding: 20px;
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid #ccc;
}

.contact-item {
    padding: 7px 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 18px;
    color: #666;
}

.social::before {
    font-weight: bold;
    color: navy;
    content: "SOCIAL LINKS";
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.social {
    padding: 20px;
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid #ccc;
}

.social-item {
    padding: 7px 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 18px;
    color: #666;
}

a {
    color: navy;
    text-decoration: none;
    /* font-weight: 600; */
    font-size: 16px;
    /* letter-spacing: 1px; */
}

.rail-content {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    width: 800px;
}

.rail-content-item-container {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;    
}

.rail-content-item-2cols {
    display: flex;
    flex-flow: row;
}

.rail-content-item {
    display: flex;
    flex-flow: column;
}

.rail-content-item-separator {
    width: 0;
    margin: 0 20px;
    border-left: 1px solid #ccc;
}

.rail-content-item .head {
    padding: 10px 0;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 3px;
}

.rail-content-item .body-big-font {
    font-size: 20px;
    color: #666;
    font-style: italic;
}

.rail-content-item .body {
    font-size: 16px;
    color: #666;
}

.experience {
    padding: 20px 0;
    display: flex;
    flex-flow: row;
    font-size: 16px;
}

.experience .time-range {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 50px;
    width: 200px;
    font-size: 18px;
    color: navy;
}

.experience .time-range-boundaries {
    font-size: 18px;
    color: navy;
}

.experience .time-range-duration {
    font-size: 16px;
    color: #666;
    font-style: italic;
}

.experience .time-line {
    align-self: center;
    width: 1px;
    margin-left:-100px;
    height: calc(100% - 50px);
    border-left: 1px solid #eee;
}

.experience .experience-item {
    width: calc(100% - 200px);
    display: flex;
    flex-flow: column;
    font-size: 16px;
}

.experience-item .company {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-bottom: 20px;
}

.company .name {
    font-size: 22px;
    font-weight: 600;
}

.company .rightend {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.company .exp-position {
    padding-right: 20px;
    font-size: 18px;
    font-weight: 400;
}

.company .detailbtn {
    padding: 0 10px;
    border-left: 1px solid #ddd;
}

.company .url {
    font-size: 22px;
    font-weight: 600;
}

.experience .toggleicon {
    display: none;
}

.experience .active {
    display: flex!important;
}

.experience .expand {
    margin-top: 0!important;
}

.experience .icon-active {
    display: block!important;
}

.experience .details-container {
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.experience .details {
    /* display: none; */
    display: flex;    
    flex-flow: column;
    padding-bottom: 20px;
    margin-top: -100%;
    transition: all 0.2s;
}

.experience-item .record {
    display: flex;
    flex-flow: row;
    padding-bottom: 6px;
}

.experience-item .key {
    width: 120px;
    min-width: 120px;
    font-size: 18px;
    font-style: italic;
    margin-right: 20px;
}

.experience-item .value {
    font-size: 18px;
    margin: 0;
}

.no-border {
    border: none;
}

.code {
    padding: 0px 2px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 1px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}